<div class="row">
  <div class="col-sm">
    <h1 class="mt-4 text-center">CLASSES</h1>
  </div>
</div>

<script>
    // set the title
    document.getElementById('title').innerText = "{{title}}"
    
    // set the active link dynamically
    var nav_selected = document.getElementById('{{ nav_selected }}')
    nav_selected.className += ' active'

</script>