<div class="row">
  <div class="col-sm">
    <h1 class="mt-4 text-center">{{ heading }}</h1>
    <hr>
    <nav id="nav" class="nav nav-pills flex-column flex-sm-row mt-5">
        <button id="add_quiz" type="button" class="flex-sm-fill text-sm-center btn btn-dark" onclick="add_quiz()">Add Quiz</button>
        <button id="edit_quiz" type="button" class="flex-sm-fill text-sm-center btn btn-dark" onclick="edit_quiz()">Edit Quiz</button>
        {{!-- <a id="about" class="flex-sm-fill text-sm-center nav-link" href="/about">About</a> --}}
        {{!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --}}
    </nav>
    <h3 id='greeting' class="mt-4 text-center">Welcome Madhu</h3>
    <h3 id="selected_option" class="mt-4 text-center"></h3>
        {{!-- add or edit quiz begins here --}}
        <div id="add_quiz_controls" style="display:none;" class="container ml-2 mt-4">
        <div class="row mt-4">
            <div class="col-sm">
            
            </div>
            <div class="col-md-">
            {{!-- topic name --}}
            <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <button id="topic_name_btn" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topic Name</button>
                <div class="dropdown-menu">
                    <div class="new_option">
                        <p class="dropdown-item" onclick="topic_name_selected('new')">New ?</p>
                        <div role="separator" class="dropdown-divider"></div>
                    </div>
                    <div id="already_existing_topics">
                    <p class="dropdown-item" onclick="topic_name_selected('ratio')">Ratio</p>
                    <p class="dropdown-item" onclick="topic_name_selected('another action')">Another action</p>
                    <p class="dropdown-item" onclick="topic_name_selected('something else')">Something else here</p>
                    </div>
                </div>
            </div>
            <input id="topic_name" type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
            {{!-- part number input box --}}

            {{!-- part number dropdown select --}}
            <div id='part_number_dropdown'>
                <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <button id="part_number_btn" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Part Number</button>
                    <div class="dropdown-menu">
                        <div class="new_option">
                            <p class="dropdown-item" onclick="part_number_selected('new')">New ?</p>
                            <div role="separator" class="dropdown-divider"></div>
                        </div>
                        <div id="already_existing_parts">

                        </div>
                    </div>
                </div>
                <input id="part_number_input" type="number" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
            {{!-- new difficulty level --}}

            {{!-- difficulty level --}}
            <div class="dropdown show">
            <a id="diff_level_dropdown" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                difficulty level
            </a>

            <div id="permissible_diff_levels" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" onclick="diff_level('easy')">easy</a>
                <a class="dropdown-item" onclick="diff_level('medium')">medium</a>
                <a class="dropdown-item" onclick="diff_level('hard')">hard</a>
            </div>
            </div>
            {{!-- duration input box --}}
            <div id='duration' class="mt-4">
                <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Duration</span>
                </div>
                <input id="duration_input" type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            {{!-- questions and options --}}
            <div id="questions_and_options">

            </div>
            {{!-- add more question button 'plus btn' --}}
            <button id="add_more_questions_btn" type="button" class="btn btn-dark mt-4" onclick="add_more_questions()">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                </svg>
            </button>
            {{!-- submit button --}}
            <br>
            <button id="final_submit" type="button" class="btn btn-primary mt-4" onclick="final_submit()">Submit</button>
            {{!-- <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
            </div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div> --}}

            </div>
            <div class="col-sm">
            
            </div>
        </div>
        </div>

  </div>
</div>

<script>
    const greeting = document.getElementById('greeting')

    //const a = document.getElementsByClassName('question_1')
    //console.log(a.item(0).children[0].children[1].value = "question-1")
    //console.log(a.item(0).children[1].children[1].value = 'option-1')
    //console.log(a.item(0).children[2].children[1].value = 'option-2')
    //console.log(a.item(0).children[3].children[1].value = 'option-3')
    //console.log(a.item(0).children[4].children[1].value = 'option-4')

    //const radio_selected = document.getElementsByName('radio_1')
    //for (var i=0; i<4; i++){
    //    if (radio_selected[i].checked) console.log(a.item(0).children[i+1].children[1].value)
    //}

    // adding the topics_in_db to dropdown list
    //<p class="dropdown-item" onclick="topic_name_selected('ratio')">Ratio</p>
    const already_existing_topics = document.getElementById('already_existing_topics')
    already_existing_topics.innerHTML = ''
    const topics_in_db = {{{json topics_in_db}}}
    for (var i=0; i<topics_in_db.length; i++){
        var t = document.createElement('p')
        t.className = 'dropdown-item'
        t.setAttribute('onclick',"topic_name_selected('"+topics_in_db[i]+"')") 
        t.innerHTML = topics_in_db[i]
        already_existing_topics.appendChild(t)
    }

    // final submission for both editing or adding quiz
    function final_submit() {
        // console.log("hey")
        // topic name
        var topic_name = document.getElementById('topic_name')
        if (topic_name.value == '') {
            alert("topic name is missing")
            return
        }
        else console.log(topic_name.value)
        // part number
        var part_number_input = document.getElementById('part_number_input')
        if (part_number_input.value == '') {
            alert("part number is missing")
            return
        }
        else console.log(part_number_input.value)
        // difficulty level
        var diff_level_dropdown = document.getElementById('diff_level_dropdown')
        if (diff_level_dropdown.innerText == 'difficulty level ') {
            alert('choose a difficulty level')
            return
        }
        else console.log(diff_level_dropdown.innerHTML)
        // duration check
        var duration_input = document.getElementById('duration_input')
        if (duration_input.value == '') {
            alert('Duration of the quiz is missing')
            return
        }
        // checking whether user has entered some questions
        if (question_count == 0) {
            alert('add some questions first')
            return
        }
        else{
            // the list of objects which will be sent to the back-end
            var questions_and_options_dic = []
            for (var i=1; i<=question_count; i++){
                var question_ = 'question_' + i
                var question = document.getElementsByClassName(question_)
                // question boxes validation
                if (question.item(0).children[0].children[1].value == '') {
                    alert('question '+i+' is missing')
                    return
                }

                // options validation
                // var correct_option_check = 0
                var options_list = []
                for (var j=1; j<=4; j++){
                    if (question.item(0).children[j].children[1].value == ''){
                        alert('option '+j+' for question '+i+' is missing')
                        return
                    }
                    // if option present
                    options_list.push(question.item(0).children[j].children[1].value)
                }
                // check for the correct choice radio check
                var radio_for_correct_answer = 'radio_' + i
                var radio_selected = document.getElementsByName(radio_for_correct_answer)
                var user_checked_radio = false
                var correct_choice = null
                for (var k=0; k<4; k++){
                    if (radio_selected[k].checked) {
                        user_checked_radio = true
                        correct_choice = question.item(0).children[k+1].children[1].value
                        console.log(correct_choice)
                    }
                }
                if (!user_checked_radio){
                    alert("choose a correct option for question "+i)
                    return
                }
                // if questions, answers and correct option are all validated
                // cross checking whether the new entered name or part number is present in
                // the db or not (can't fully trust the user)
                if (!topic_name_exists){
                    if (topics_in_db.includes(topic_name.value)) {
                        // topic_name_exists = true
                        alert("You choose new topic name, but this quiz alreay exists")
                        return
                    }
                }
                if (!part_number_exists){
                    // alert(part_number_input.value.toString())
                    if (already_existing_parts_from_db.includes(part_number_input.value.toString())){
                        // part_number_exists = true
                        alert("You choose new part number, but this quiz alreay exists")
                        return
                    }
                }
                questions_and_options_dic.push({'topic_name':topic_name.value,
                'part_number':part_number_input.value.toString(),
                'diff_level':diff_level_dropdown.innerHTML,
                'question':question.item(0).children[0].children[1].value,
                'options':options_list,
                'correct':correct_choice,
                'duration':duration_input.value,
                'topic_name_exists':topic_name_exists,
                'part_number_exists':part_number_exists})
                console.log(questions_and_options_dic)

                // sending data to back-end
                postData('/add_quiz', questions_and_options_dic)
                .then(data => {
                    console.log(data); // JSON data parsed by `data.json()` call
                    // if everything went fine refresh the page
                    location.reload();
                });
            }
        }
    }

    // for showing the selected part number on the button
    var part_number_exists = false
    function part_number_selected(part) {
        // resetting the diff level label to default
        diff_level('difficulty level ')
        // if in editing mode show the part number as button label
        if (editing_mode){
            const btn = document.getElementById('part_number_btn')
            btn.innerHTML = part
        }
        // else show it in the input box
        else{
            const part_number_input = document.getElementById('part_number_input')
            if (part != 'new') {
                part_number_input.value = parseInt(part)
                part_number_exists = true
            }
            // if new is selected then clear the space if anything present
            if (part == 'new') {
                part_number_exists = false
                part_number_input.value = ''
                const permissible_diff_levels = document.getElementById('permissible_diff_levels')
                permissible_diff_levels.innerHTML = ''
                // resetting the diff levels options to default when new part
                // is selected
                // <a class="dropdown-item" onclick="diff_level('medium')">medium</a>
                var levels = ['easy','medium','hard']
                for (var i=0; i<3; i++){
                    var a= document.createElement('a')
                    a.className = 'dropdown-item'
                    a.setAttribute('onclick','diff_level("'+levels[i]+'")')
                    a.innerHTML = levels[i]
                    permissible_diff_levels.appendChild(a)
                }
            }
        }

        // if part number is not new then fetch its diff leves
        if ( part != 'new'){
            // fetch diff_level of that part
            var topic_name = document.getElementById('topic_name')
            if (!topics_in_db.includes(topic_name.value)) return
            postData('/get_diff_level', {"part_number":'part_'+part,"topic_name":topic_name.value})
            .then(data => {
                console.log(data); // JSON data parsed by `data.json()` call
                const permissible_diff_levels = document.getElementById('permissible_diff_levels')
                if (data == null) {
                    permissible_diff_levels.innerHTML = ''
                    alert("You have already added easy, medium and hard quiz for this configuration")
                }
                else{
                    // <a class="dropdown-item" onclick="diff_level('easy')">easy</a>
                    permissible_diff_levels.innerHTML = ''
                    for (var i=0; i<data.length; i++){
                        var a = document.createElement('a')
                        a.className = 'dropdown-item'
                        a.setAttribute('onclick','diff_level("'+data[i]+'")')
                        a.innerHTML = data[i]
                        permissible_diff_levels.appendChild(a)
                    }
                }
            });
        }
    }

    // to add more question
    const questions_and_options = document.getElementById('questions_and_options')
    var question_count = 0
    function add_more_questions(){
        console.log("clicked me")
        question_count++
        // question and options body
        const question = document.createElement('div')
        question.className = 'question_' + question_count
        // question wrapper div
        const question_wrapper = document.createElement('div')
        question_wrapper.className = 'form-group mt-4'
        // label for question
        const question_label = document.createElement('label')
        question_label.setAttribute('for','exampleFormControlTextarea1')
        question_label.innerHTML = 'Question ' + question_count
        // question text area
        const question_textarea = document.createElement('textarea')
        question_textarea.className = 'form-control'
        question_textarea.id = 'exampleFormControlTextarea1'
        question_textarea.setAttribute('rows','3')
        // appending label and text area
        question_wrapper.appendChild(question_label)
        question_wrapper.appendChild(question_textarea)
        // appending question_wrapper to main question div
        question.appendChild(question_wrapper)

        for (var i=0; i<4; i++){
            // options
            // main option div
            const input_group = document.createElement('div') //input-group
            input_group.className = 'input-group'
            const input_group_prepend = document.createElement('div')
            input_group_prepend.className = 'input-group-prepend'
            const input_group_text = document.createElement('input-group-text')
            input_group_text.className = 'input-group-text'
            const question_radio = document.createElement('input')
            question_radio.type = 'radio'
            question_radio.name = 'radio_' + question_count
            question_radio.setAttribute('aria-label','aria-label="Radio button for following text input"')
            input_group_text.appendChild(question_radio)
            input_group_prepend.appendChild(input_group_text)
            input_group.appendChild(input_group_prepend)
            const text_input_with_radio = document.createElement('input')
            text_input_with_radio.type = 'text'
            text_input_with_radio.className = 'form-control'
            text_input_with_radio.setAttribute('aria-label','Text input with radio button')
            input_group.appendChild(text_input_with_radio)

            // appending options to main questio div
            question.appendChild(input_group)
        }
        // appending everything to the screen
        questions_and_options.appendChild(question)
    }

    function diff_level(level) {
        var diff_level_dropdown = document.getElementById('diff_level_dropdown')
        diff_level_dropdown.innerHTML = level
    }

    // to highlight the topic name selected
    var already_existing_parts_from_db = []
    var topic_name_exists = false
    function topic_name_selected(selected_topic_name){
        // inserting the selected topic name as the button label
        // this feature is availble on when its edit mode
        if (editing_mode) {
            const topic_name_btn = document.getElementById('topic_name_btn')
            topic_name_btn.innerHTML = selected_topic_name
        }
        // console.log(selected_topic_name)
        const topic_name_input = document.getElementById('topic_name')
        // if topic is not new then fetch its parts
        if (selected_topic_name != 'new') {
            topic_name_input.value = selected_topic_name
            topic_name_exists = true

            // fetching parts available to the quiz
            postData('/parts_from_db', {selected_topic_name:selected_topic_name})
            .then(data => {
                console.log(data); // JSON data parsed by `data.json()` call
                already_existing_parts_from_db = data
                // <p class="dropdown-item" onclick="part_number_selected('part_1')">part_1</p>
                const already_existing_parts = document.getElementById('already_existing_parts')
                already_existing_parts.innerHTML = ''
                for (var i=0; i<data.length; i++){
                    var p = document.createElement('p')
                    p.className = 'dropdown-item'
                    p.setAttribute('onclick','part_number_selected("'+data[i]+'")')
                    p.innerHTML = data[i]
                    already_existing_parts.appendChild(p)
                }
            });
        }
        // if new selected
        if (selected_topic_name == 'new') {
            // emptying the parts fetched from db
            already_existing_parts_from_db = []
            topic_name_exists = false
            part_number_exists = false
            // resetting the input field 
            document.getElementById('topic_name').value = ''
            // resetting the part field 
            document.getElementById('already_existing_parts').innerHTML = ''
            // resetting the difficulty level to default
            // resetting the diff levels options to default when new part
            // is selected
            // <a class="dropdown-item" onclick="diff_level('medium')">medium</a>
            // resetting the diff level label to default
            diff_level('difficulty level ')
            const permissible_diff_levels = document.getElementById('permissible_diff_levels')
            permissible_diff_levels.innerHTML = ''
            var levels = ['easy','medium','hard']
            for (var i=0; i<3; i++){
                var a= document.createElement('a')
                a.className = 'dropdown-item'
                a.setAttribute('onclick','diff_level("'+levels[i]+'")')
                a.innerHTML = levels[i]
                permissible_diff_levels.appendChild(a)
            }
        }    
    }

    var editing_mode = false
    function edit_quiz(){
        // disable duration
        var duration = document.getElementById('duration')
        duration.hidden = true
        // disable greeting
        greeting.hidden = true
        // disabling new option in topic name
        const new_option = document.getElementsByClassName('new_option')
        console.log(new_option)
        new_option[0].hidden = true
        new_option[1].hidden = true
        // toggling the switch
        editing_mode = true
        // resetting the label on the button for topic name
        const topic_name_btn = document.getElementById('topic_name_btn')
        topic_name_btn.innerHTML = 'Topic Name'
        // removing all the question boxes added when add quiz was clicked
        questions_and_options.innerHTML = ''
        // disabling add more question btn
        const add_more_questions_btn = document.getElementById('add_more_questions_btn')
        add_more_questions_btn.hidden = true
        // disabling the input box for topic name
        const topic_name_input = document.getElementById('topic_name')
        topic_name_input.hidden = true
        
        // disabling the part_number_input box
        const part_number_input = document.getElementById('part_number_input')
        part_number_input.hidden = true
        
        // enabling part number dropdown
        const part_number_dropdown = document.getElementById('part_number_dropdown')
        part_number_dropdown.hidden = false

        document.getElementById('selected_option').innerHTML = 'Edit Quiz'
        document.getElementById('add_quiz_controls').style.display = ''
        // document.getElementById('edit_quiz_controls').style.display = ''
        // console.log('edit')
    }

    function add_quiz(){
        // enable duration
        var duration = document.getElementById('duration')
        duration.hidden = false
        // disable greeting
        greeting.hidden = true
        // enabling new option in topic name
        const new_option = document.getElementsByClassName('new_option')
        new_option[0].hidden = false
        new_option[1].hidden = false
        // toggling the switch
        editing_mode = false
        // resetting the label on the button for topic name
        const topic_name_btn = document.getElementById('topic_name_btn')
        topic_name_btn.innerHTML = 'Topic Name'
        // enabling add more question btn
        const add_more_questions_btn = document.getElementById('add_more_questions_btn')
        add_more_questions_btn.hidden = false
        // enabling the input box for topic name
        const topic_name_input = document.getElementById('topic_name')
        topic_name_input.value = ''
        topic_name_input.hidden = false

        // enabling the part_number_input box
        const part_number_input = document.getElementById('part_number_input')
        part_number_input.hidden = false
        
        // disabling part number dropdown
        // const part_number_dropdown = document.getElementById('part_number_dropdown')
        // part_number_dropdown.hidden = true

        document.getElementById('selected_option').innerHTML = 'Add Quiz'
        document.getElementById('add_quiz_controls').style.display = ''
        // document.getElementById('edit_quiz_controls').style.display = 'none'
        // console.log('add')
    }

    document.getElementById('title').innerText = "{{title}}"
</script>