<div class="row">
  <div class="col-sm">
    <h1 class="mt-4 text-center">{{ heading }}</h1>
    <h2 class="text-right"><button type="button" class="btn btn-danger" onclick="logout()">Logout</button></h2>
    <hr>
    <nav id="nav" class="nav nav-pills flex-column flex-sm-row mt-5">
        <button id="add_quiz" type="button" class="flex-sm-fill text-sm-center btn btn-dark" onclick="add_quiz()">Add Quiz</button>
        <button id="edit_quiz" type="button" class="flex-sm-fill text-sm-center btn btn-dark" onclick="edit_quiz()">Edit Quiz</button>
        {{!-- <a id="about" class="flex-sm-fill text-sm-center nav-link" href="/about">About</a> --}}
        {{!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --}}
    </nav>
    <h3 id='greeting' class="mt-4 text-center">Welcome Madhu</h3>
    <h3 id="selected_option" class="mt-4 text-center"></h3>
        {{!-- add or edit quiz begins here --}}
        <div id="add_quiz_controls" style="display:none;" class="container ml-2 mt-4">
        <div class="row mt-4">
            <div class="col-sm">
            
            </div>
            <div class="col-md-">
            {{!-- topic name --}}
            <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <button id="topic_name_btn" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Topic Name</button>
                <div class="dropdown-menu">
                    <div class="new_option">
                        <p class="dropdown-item" onclick="topic_name_selected('new')">New ?</p>
                        <div role="separator" class="dropdown-divider"></div>
                    </div>
                    <div id="already_existing_topics">
                    <p class="dropdown-item" onclick="topic_name_selected('ratio')">Ratio</p>
                    <p class="dropdown-item" onclick="topic_name_selected('another action')">Another action</p>
                    <p class="dropdown-item" onclick="topic_name_selected('something else')">Something else here</p>
                    </div>
                </div>
            </div>
            <input id="topic_name" type="text" class="form-control" aria-label="Text input with dropdown button">
            </div>
            {{!-- part number input box --}}

            {{!-- part number dropdown select --}}
            <div id='part_number_dropdown'>
                <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <button id="part_number_btn" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Part Number</button>
                    <div class="dropdown-menu">
                        <div class="new_option">
                            <p class="dropdown-item" onclick="part_number_selected('new')">New ?</p>
                            <div role="separator" class="dropdown-divider"></div>
                        </div>
                        <div id="already_existing_parts">

                        </div>
                    </div>
                </div>
                <input id="part_number_input" type="number" class="form-control" aria-label="Text input with dropdown button">
                </div>
            </div>
            

            {{!-- question paper --}}
            <div class="dropdown show">
            <a id="question_paper_dropdown" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                question paper
            </a>

            <div id="permissible_question_papers" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" onclick="question_paper('question_paper_1')">question_paper_1</a>
                <a class="dropdown-item" onclick="question_paper('question_paper_2')">question_paper_2</a>
                <a class="dropdown-item" onclick="question_paper('question_paper_3')">question_paper_3</a>
            </div>
            </div>
            {{!-- duration input box --}}
            <div id='duration' class="mt-4">
                <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Duration</span>
                </div>
                <input id="duration_input" type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            {{!-- questions and options --}}
            <div id="questions_and_options">

            </div>
            {{!-- add more question button 'plus btn' --}}
            <button id="add_more_questions_btn" type="button" class="btn btn-dark mt-4" onclick="add_more_questions()">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                </svg>
            </button>
            {{!-- submit button --}}
            <br>
            <button id="final_submit" type="button" class="btn btn-primary mt-4" onclick="final_submit()">Submit</button>
            <button id='delete_the_whole_quiz' type="button" class="btn btn-secondary mt-4" onclick="delete_the_whole_quiz()">Delete Quiz</button>
            <br>
            <button id='delete_part_of_quiz' type="button" class="btn btn-warning mt-4" onclick="delete_part_of_quiz()" hidden>Delete Part</button>
            <br>
            <button id='delete_topic' type="button" class="btn btn-danger mt-4" onclick="delete_topic()" hidden>Delete Topic</button>
            {{!-- <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
            </div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div> --}}

            </div>
            <div class="col-sm">
            
            </div>
        </div>
        </div>

  </div>
</div>

<script>
    const greeting = document.getElementById('greeting')

    function logout (){
        window.location.replace("/logout")
    }

    function delete_topic() {
        var topic_name = document.getElementById('topic_name_btn').innerHTML
        if (topic_name == 'Topic Name') {
            alert('select a quiz first')
            return
        }
        postData('/delete_topic', { 'topic_name':topic_name})
        .then(data => {
            console.log(data); // JSON data parsed by `data.json()` call
            if (data == 'success') alert('deleted')
        });
    }

    function delete_part_of_quiz() {
        var topic_name = document.getElementById('topic_name_btn').innerHTML
        var part_number = document.getElementById('part_number_btn').innerHTML
        if (topic_name == 'Topic Name') {
            alert('select a quiz first')
            return
        }
        if (part_number == 'Part Number') {
            alert('select the part')
            return
        }
        postData('/delete_part_of_quiz', { 'topic_name':topic_name, 'part_number':part_number})
        .then(data => {
            console.log(data); // JSON data parsed by `data.json()` call
            if (data == 'success') alert('deleted')
        });
    }

    function delete_the_whole_quiz() {
        var topic_name = document.getElementById('topic_name_btn').innerHTML
        var part_number = document.getElementById('part_number_btn').innerHTML
        var question_paper_dropdown = document.getElementById('question_paper_dropdown').innerHTML
        if (topic_name == 'Topic Name') {
            alert('select a quiz first')
            return
        }
        if (part_number == 'Part Number') {
            alert('select the part')
            return
        }
        if (question_paper_dropdown == 'question paper ') {
            alert('select the question paper')
            return
        }
        // alert(topic_name)
        // return
        postData('/delete_the_whole_quiz', { 'topic_name':topic_name, 
        'question_paper':question_paper_dropdown, 
        'part_number':part_number})
        .then(data => {
            console.log(data); // JSON data parsed by `data.json()` call
            if (data == 'success') {
                alert('deleted')
                edit_quiz()
            }
        });
    }

    function delete_question(question_num) {
        console.log(question_num)
        document.getElementById(question_num).innerHTML = ''
        // console.log(document.getElementsByClassName(question_num))
    }

    // adding the topics_in_db to dropdown list
    //<p class="dropdown-item" onclick="topic_name_selected('ratio')">Ratio</p>
    const already_existing_topics = document.getElementById('already_existing_topics')
    already_existing_topics.innerHTML = ''
    const topics_in_db = {{{json topics_in_db}}}
    for (var i=0; i<topics_in_db.length; i++){
        var t = document.createElement('p')
        t.className = 'dropdown-item'
        t.setAttribute('onclick',"topic_name_selected('"+topics_in_db[i]+"')") 
        t.innerHTML = topics_in_db[i]
        already_existing_topics.appendChild(t)
    }

    // final submission for both editing or adding quiz
    function final_submit() {

        // the list of objects which will be sent to the back-end
        var questions_and_options_dic = []

        // console.log("hey")
        // topic name
        var topic_name = document.getElementById('topic_name')
        if (topic_name.value == '') {
            alert("topic name is missing")
            return
        }
        else console.log(topic_name.value)
        // part number
        var part_number_input = document.getElementById('part_number_input')
        if (part_number_input.value == '') {
            alert("part number is missing")
            return
        }
        else console.log(part_number_input.value)
        // question paper
        var question_paper_dropdown = document.getElementById('question_paper_dropdown')
        if (question_paper_dropdown.innerText == 'question paper ') {
            alert('choose a question paper')
            return
        }
        else console.log(question_paper_dropdown.innerHTML)
        // duration check
        var duration_input = document.getElementById('duration_input')
        if (duration_input.value == '') {
            alert('Duration of the quiz is missing')
            return
        }
        // checking whether user has entered some questions
        if (question_count == 0) {
            alert('add some questions first')
            return
        }
        else{
            // count the total number of skipped questions
            // if its equal to the number of questions
            // then don't send data to back-end
            var skipped_question_count = 0
            for (var i=1; i<=question_count; i++){
                // alert("here")
                var question_ = 'question_' + i
                var question = document.getElementById(question_)

                // if any question has been deleted then
                // skip it and increment the skip count
                if (question.innerHTML == '') {
                    // alert("skipped")
                    skipped_question_count++
                    continue
                }


                // remove
                //alert(question.children[0].children[2].value)
                // alert(question.children[1].children[1].value)
                // alert(question.children[2].children[1].value)
                // alert(question.children[3].children[1].value)
                // alert(question.children[4].children[1].value)
                // radio .children[1].children[0]
                // return

                // question boxes validation
                if (question.children[0].children[2].value == '') {
                    alert('question '+i+' is missing')
                    return
                }

                // options validation
                // var correct_option_check = 0
                var options_list = []
                for (var j=1; j<=4; j++){
                    if (question.children[j].children[1].value == ''){
                        alert('option '+j+' for question '+i+' is missing')
                        return
                    }
                    // if option present
                    options_list.push(question.children[j].children[1].value)
                }
                // check for the correct choice radio check
                var radio_for_correct_answer = 'radio_' + i
                var radio_selected = document.getElementsByName(radio_for_correct_answer)
                var user_checked_radio = false
                var correct_choice = null
                for (var k=0; k<4; k++){
                    if (radio_selected[k].checked) {
                        user_checked_radio = true
                        correct_choice = question.children[k+1].children[1].value
                        console.log(correct_choice)
                    }
                }
                console.log(user_checked_radio)
                if (!user_checked_radio){
                    alert("choose a correct option for question "+i)
                    // alert("just before function return")
                    return
                }
                // alert("outside the if")
                // if questions, answers and correct option are all validated
                // cross checking whether the new entered name or part number is present in
                // the db or not (can't fully trust the user)
                if (!topic_name_exists){
                    if (topics_in_db.includes(topic_name.value)) {
                        // topic_name_exists = true
                        alert("You choose new topic name, but this quiz alreay exists")
                        return
                    }
                }
                if (!part_number_exists){
                    // alert(part_number_input.value.toString())
                    if (already_existing_parts_from_db.includes(part_number_input.value.toString())){
                        // part_number_exists = true
                        alert("You choose new part number, but this quiz alreay exists")
                        return
                    }
                }
                
                var dic_to_send = {'topic_name':topic_name.value,
                'part_number':part_number_input.value.toString(),
                'question_paper':question_paper_dropdown.innerHTML,
                'question':question.children[0].children[2].value,
                'options':options_list,
                'correct':correct_choice,
                'duration':duration_input.value,
                'topic_name_exists':topic_name_exists,
                'part_number_exists':part_number_exists}

                questions_and_options_dic.push(dic_to_send)

                console.log(questions_and_options_dic)
                // return

            }
        }

        // check if atleast one question remains
        // after pressing the delete button
        if (skipped_question_count >= question_count) {
            alert("add some questions first")
            return
        }

        // if everything went well
        // sending data to back-end
        if (editing_mode) var url = '/edit_quiz'
        else var url = '/add_quiz'

        postData(url, questions_and_options_dic)
        .then(data => {
            console.log(data); // JSON data parsed by `data.json()` call
            // if everything went fine refresh the page
            location.reload();
        });
    }

    // for showing the selected part number on the button
    var part_number_exists = false
    function part_number_selected(part) {
        // if in editing mode show the part number as button label
        if (editing_mode){
            // if the user selects another topic name then
            // delete all the fetched questions
            document.getElementById('questions_and_options').innerHTML = ''

            // if in editing then the part number always exists
            part_number_exists = true

            const btn = document.getElementById('part_number_btn')
            btn.innerHTML = part
        }
        // else show it in the input box
        else{
            // resetting the diff level label to default
            document.getElementById('question_paper_dropdown').innerHTML = 'question paper '

            // const part_number_input = document.getElementById('part_number_input')
            if (part != 'new') {
                // if its not new then lock the input
                part_number_input.readOnly = true

                // part_number_input.value = parseInt(part)
                part_number_exists = true
            }
            // if new is selected then clear the space if anything present
            if (part == 'new') {
                // if its new then unlock the input
                part_number_input.readOnly = false

                part_number_exists = false
                part_number_input.value = ''
                const permissible_question_papers = document.getElementById('permissible_question_papers')
                permissible_question_papers.innerHTML = ''
                // resetting the diff levels options to default when new part
                // is selected
                // <a class="dropdown-item" onclick="question_paper('question_paper_2')">question_paper_2</a>
                var levels = ['question_paper_1','question_paper_2','question_paper_3']
                for (var i=0; i<3; i++){
                    var a= document.createElement('a')
                    a.className = 'dropdown-item'
                    a.setAttribute('onclick','question_paper("'+levels[i]+'")')
                    a.innerHTML = levels[i]
                    permissible_question_papers.appendChild(a)
                }
            }
        }

        // if part number is not new then fetch its diff leves
        if ( part != 'new'){
            const part_number_input = document.getElementById('part_number_input')
            part_number_input.value = parseInt(part)

            // fetch question_paper of that part
            var topic_name = document.getElementById('topic_name')
            if (!topics_in_db.includes(topic_name.value)) return

            // if edit mode or add mode
            if (editing_mode) var url = '/get_question_paper/edit'
            else var url = '/get_question_paper/add'
            postData(url, {"part_number":'part_'+part,"topic_name":topic_name.value})
            .then(data => {
                console.log("here"+data); // JSON data parsed by `data.json()` call
                const permissible_question_papers = document.getElementById('permissible_question_papers')
                if (data == null) {
                    permissible_question_papers.innerHTML = ''
                    alert("You have already added question_paper_1, question_paper_2 and question_paper_3 quiz for this configuration")
                }
                else{
                    // <a class="dropdown-item" onclick="question_paper('question_paper_1')">question_paper_1</a>
                    permissible_question_papers.innerHTML = ''
                    for (var i=0; i<data.length; i++){
                        var a = document.createElement('a')
                        a.className = 'dropdown-item'
                        a.setAttribute('onclick','question_paper("'+data[i]+'")')
                        a.innerHTML = data[i]
                        permissible_question_papers.appendChild(a)
                    }
                }
            });
        }
    }

    // to add more question
    const questions_and_options = document.getElementById('questions_and_options')
    var question_count = 0
    function add_more_questions(){
        console.log("clicked me")
        question_count++
        // question and options body
        const question = document.createElement('div')
        question.id = 'question_' + question_count
        // question wrapper div
        const question_wrapper = document.createElement('div')
        question_wrapper.className = 'form-group mt-4'
        // label for question
        const question_label = document.createElement('label')
        question_label.setAttribute('for','exampleFormControlTextarea1')
        question_label.innerHTML = 'Question ' + question_count
        // question text area
        const question_textarea = document.createElement('textarea')
        question_textarea.className = 'form-control mt-2'
        question_textarea.id = 'exampleFormControlTextarea1'
        question_textarea.setAttribute('rows','3')
        // appending label and text area
        question_wrapper.appendChild(question_label)
        // appending delete button
        // <button type="button" class="btn btn-danger">Danger</button>
        var delete_btn = document.createElement('button')
        delete_btn.className = 'btn btn-danger ml-2'
        delete_btn.type = 'button'
        delete_btn.innerHTML = 'Delete'
        delete_btn.setAttribute('onclick','delete_question("'+'question_' + question_count+'")')
        question_wrapper.appendChild(delete_btn)
        question_wrapper.appendChild(question_textarea)
        // appending question_wrapper to main question div
        question.appendChild(question_wrapper)

        for (var i=0; i<4; i++){
            // options
            // main option div
            const input_group = document.createElement('div') //input-group
            input_group.className = 'input-group'
            const input_group_prepend = document.createElement('div')
            input_group_prepend.className = 'input-group-prepend'
            const input_group_text = document.createElement('input-group-text')
            input_group_text.className = 'input-group-text'
            const question_radio = document.createElement('input')
            question_radio.type = 'radio'
            question_radio.name = 'radio_' + question_count
            question_radio.setAttribute('aria-label','aria-label="Radio button for following text input"')
            input_group_text.appendChild(question_radio)
            input_group_prepend.appendChild(input_group_text)
            input_group.appendChild(input_group_prepend)
            const text_input_with_radio = document.createElement('input')
            text_input_with_radio.type = 'text'
            text_input_with_radio.className = 'form-control'
            text_input_with_radio.setAttribute('aria-label','Text input with radio button')
            input_group.appendChild(text_input_with_radio)

            // appending options to main questio div
            question.appendChild(input_group)
        }
        // appending everything to the screen
        questions_and_options.appendChild(question)
    }

    function display_fetched_questions(data) {
        // enabling add more questions button
        document.getElementById('add_more_questions_btn').hidden = false

        // reset the question count
        question_count = 0

        // enable duration
        var duration = document.getElementById('duration')
        duration.hidden = false
        document.getElementById('duration_input').value = (data[0].duration)/60
        
        for (var i=0; i<data.length; i++){     

            // insert a holder for the quiz
            add_more_questions()
            // insert content into the holders



            var question_ = 'question_' + (i+1)
            console.log(question)
            var question = document.getElementById(question_)
            
            // remove
            //alert(question.children[0].children[2].value)
            // alert(question.children[1].children[1].value)
            // alert(question.children[2].children[1].value)
            // alert(question.children[3].children[1].value)
            // alert(question.children[4].children[1].value)
            // radio .children[1].children[0]
            // return

            // add question
            question.children[0].children[2].value = data[i].question

            // adding options
            question.children[1].children[1].value = data[i].option_1
            question.children[2].children[1].value = data[i].option_2
            question.children[3].children[1].value = data[i].option_3
            question.children[4].children[1].value = data[i].option_4

            // check the correct radio
            var radio_for_correct_answer = 'radio_' + (i+1)
            var radio_selected = document.getElementsByName(radio_for_correct_answer)
            // var user_checked_radio = false
            // var correct_choice = null
            for (var k=0; k<4; k++){
                // console.log(question.children[k+1].children[1].value)
                if (question.children[k+1].children[1].value == data[i].correct) {
                    radio_selected[k].checked = true
                }
            }
        }
    }

    function question_paper(level) {
        // if the user selects another topic name then
        // delete all the fetched questions
        if(editing_mode) document.getElementById('questions_and_options').innerHTML = ''

        var question_paper_dropdown = document.getElementById('question_paper_dropdown')
        question_paper_dropdown.innerHTML = level

        // if editing mode then retrieve all the questions
        // and options from the database
        if (editing_mode) {
            const topic_name = document.getElementById('topic_name_btn').innerHTML
            const part_number = document.getElementById('part_number_btn').innerHTML
            const question_paper = document.getElementById('question_paper_dropdown').innerHTML
            const quiz_name = topic_name+"part_"+part_number+question_paper
            const table_for_duration = topic_name+"part_"+part_number
            // alert("here"+quiz_name)

            postData('/get_quiz', { 'quiz_name':quiz_name,
            'quiz_name_for_duration':table_for_duration,
            'question_paper_for_duration':question_paper})
            .then(data => {
                console.log(data); // JSON data parsed by `data.json()` call
                display_fetched_questions(data)                
            });
        }
    }

    // to highlight the topic name selected
    var already_existing_parts_from_db = []
    var topic_name_exists = false
    function topic_name_selected(selected_topic_name){
        // if the user selects another topic name then
        // delete all the fetched questions
        // if(editing_mode) document.getElementById('questions_and_options').innerHTML = ''

        // if topic name selected reset everything below it
        document.getElementById('part_number_input').value = ''
        document.getElementById('permissible_question_papers').innerHTML = ''
        document.getElementById('question_paper_dropdown').innerHTML = 'question paper '
        // if (editing_mode) document.getElementById('part_number_btn').innerHTML = 'Part Number'

        // inserting the selected topic name as the button label
        // this feature is availble on when its edit mode
        if (editing_mode) {
            document.getElementById('part_number_btn').innerHTML = 'Part Number'
            document.getElementById('questions_and_options').innerHTML = ''
            const topic_name_btn = document.getElementById('topic_name_btn')
            topic_name_btn.innerHTML = selected_topic_name
        }
        // console.log(selected_topic_name)
        const topic_name_input = document.getElementById('topic_name')
        // if topic is not new then fetch its parts
        if (selected_topic_name != 'new') {
            topic_name_input.value = selected_topic_name
            topic_name_exists = true
            
            // lock the input box
            topic_name_input.readOnly = true

            // fetching parts available to the quiz
            postData('/parts_from_db', {selected_topic_name:selected_topic_name})
            .then(data => {
                console.log(data); // JSON data parsed by `data.json()` call
                already_existing_parts_from_db = data
                // <p class="dropdown-item" onclick="part_number_selected('part_1')">part_1</p>
                const already_existing_parts = document.getElementById('already_existing_parts')
                already_existing_parts.innerHTML = ''
                for (var i=0; i<data.length; i++){
                    var p = document.createElement('p')
                    p.className = 'dropdown-item'
                    p.setAttribute('onclick','part_number_selected("'+data[i]+'")')
                    p.innerHTML = data[i]
                    already_existing_parts.appendChild(p)
                }
            });
        }
        // if new selected
        if (selected_topic_name == 'new') {
            // unlock the input box
            topic_name_input.readOnly = false

            // emptying the parts fetched from db
            already_existing_parts_from_db = []
            topic_name_exists = false
            part_number_exists = false
            // resetting the input field 
            document.getElementById('topic_name').value = ''
            // resetting the part field 
            document.getElementById('already_existing_parts').innerHTML = ''
            // resetting the question paper to default
            // resetting the diff levels options to default when new part
            // is selected
            // <a class="dropdown-item" onclick="question_paper('question_paper_2')">question_paper_2</a>
            // resetting the diff level label to default
            document.getElementById('question_paper_dropdown').innerHTML = 'question paper '
            const permissible_question_papers = document.getElementById('permissible_question_papers')
            permissible_question_papers.innerHTML = ''
            var levels = ['question_paper_1','question_paper_2','question_paper_3']
            for (var i=0; i<3; i++){
                var a= document.createElement('a')
                a.className = 'dropdown-item'
                a.setAttribute('onclick','question_paper("'+levels[i]+'")')
                a.innerHTML = levels[i]
                permissible_question_papers.appendChild(a)
            }
        }    
    }

    var editing_mode = false
    function edit_quiz(){
        // resetting duration
        document.getElementById('duration_input').value = ''

        // show buttons
        // document.getElementById('delete_part_of_quiz').hidden = false
        // document.getElementById('delete_topic').hidden = false

        // show the delete_the_whole_quiz button
        document.getElementById('delete_the_whole_quiz').hidden = false

        // if the user selects another topic name then
        // delete all the fetched questions
        // suppose we came from add quiz
        document.getElementById('questions_and_options').innerHTML = ''
        question_count = 0

        // resetting everything
        document.getElementById('topic_name').value = ''
        document.getElementById('part_number_input').value = ''
        document.getElementById('part_number_btn').innerHTML = 'Part Number'
        document.getElementById('question_paper_dropdown').innerHTML = 'question paper '
        document.getElementById('permissible_question_papers').innerHTML = ''
        document.getElementById('already_existing_parts').innerHTML = ''

        // disable duration
        var duration = document.getElementById('duration')
        duration.hidden = true
        // disable greeting
        greeting.hidden = true
        // disabling new option in topic name
        const new_option = document.getElementsByClassName('new_option')
        console.log(new_option)
        new_option[0].hidden = true
        new_option[1].hidden = true
        // toggling the switch
        editing_mode = true
        // resetting the label on the button for topic name
        const topic_name_btn = document.getElementById('topic_name_btn')
        topic_name_btn.innerHTML = 'Topic Name'
        // removing all the question boxes added when add quiz was clicked
        questions_and_options.innerHTML = ''
        // disabling add more question btn
        const add_more_questions_btn = document.getElementById('add_more_questions_btn')
        add_more_questions_btn.hidden = true
        // disabling the input box for topic name
        const topic_name_input = document.getElementById('topic_name')
        topic_name_input.hidden = true
        
        // disabling the part_number_input box
        const part_number_input = document.getElementById('part_number_input')
        part_number_input.hidden = true
        
        // enabling part number dropdown
        const part_number_dropdown = document.getElementById('part_number_dropdown')
        part_number_dropdown.hidden = false

        document.getElementById('selected_option').innerHTML = 'Edit Quiz'
        document.getElementById('add_quiz_controls').style.display = ''
        // document.getElementById('edit_quiz_controls').style.display = ''
        // console.log('edit')
    }

    function add_quiz(){
        // removing part number of comming from edit mode
        document.getElementById('part_number_input').value = ''
        // resetting duration
        document.getElementById('duration_input').value = ''

        // hide buttons
        document.getElementById('delete_part_of_quiz').hidden = true
        document.getElementById('delete_topic').hidden = true

        // hide the delete_the_whole_quiz button
        document.getElementById('delete_the_whole_quiz').hidden = true

        // if the user selects another topic name then
        // delete all the fetched questions
        // suppose we came from edit quiz
        document.getElementById('questions_and_options').innerHTML = ''
        question_count = 0

        // resetting everything
        document.getElementById('part_number_btn').innerHTML = 'Part Number'
        document.getElementById('question_paper_dropdown').innerHTML = 'question paper '
        document.getElementById('permissible_question_papers').innerHTML = ''
        document.getElementById('already_existing_parts').innerHTML = ''

        // enable duration
        var duration = document.getElementById('duration')
        duration.hidden = false
        // disable greeting
        greeting.hidden = true
        // enabling new option in topic name
        const new_option = document.getElementsByClassName('new_option')
        new_option[0].hidden = false
        new_option[1].hidden = false
        // toggling the switch
        editing_mode = false
        // resetting the label on the button for topic name
        const topic_name_btn = document.getElementById('topic_name_btn')
        topic_name_btn.innerHTML = 'Topic Name'
        // enabling add more question btn
        const add_more_questions_btn = document.getElementById('add_more_questions_btn')
        add_more_questions_btn.hidden = false
        // enabling the input box for topic name
        const topic_name_input = document.getElementById('topic_name')
        topic_name_input.value = ''
        topic_name_input.hidden = false

        // enabling the part_number_input box
        const part_number_input = document.getElementById('part_number_input')
        part_number_input.hidden = false
        
        // disabling part number dropdown
        // const part_number_dropdown = document.getElementById('part_number_dropdown')
        // part_number_dropdown.hidden = true

        document.getElementById('selected_option').innerHTML = 'Add Quiz'
        document.getElementById('add_quiz_controls').style.display = ''
        // document.getElementById('edit_quiz_controls').style.display = 'none'
        // console.log('add')
    }

    document.getElementById('title').innerText = "{{title}}"
</script>