<div class="alert alert-danger mt-4" role="alert">
  <h4 class="alert-heading text-center">Sorry!</h4>
  <p>Sorry this quiz is temporarily turned off. Please try again after sometime.</p>
  <hr>
  <p class="mb-0">Thank You.</p>
</div>