<div style="text-align:center;">
    <a href="#">
        <p class="text-monospace" style="box-shadow: 0 0 5px 0px black;">Maths Partner</p>
    </a>
</div>
<nav class="nav nav-pills flex-column flex-sm-row mt-5">
  <a class="flex-sm-fill text-sm-center nav-link active" href="#">Quiz</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Classes</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">About</a>
  {{!-- <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --}}
</nav>

<script>
    document.getElementById('title').innerText = "{{title}}"
</script>

