<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" href="#">Active</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
  <a class="flex-sm-fill text-sm-center nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>

<div id="this" class="progress mt-4">
  <div id="here" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
</div>

<button onclick="boom()" type="button">click me</button>

<script>
var time = null
function progress_the_bar(){


    var bar = document.getElementById("here");
    //bar.style.width = "80%"
    var new_width = parseInt(bar.style.width.slice(0,-1)) + 10
    new_width = new_width.toString()+"%"
    bar.style.width = new_width
    console.log(new_width)

    if (new_width == "100%") clearInterval(time);
}

function boom() {
    time = setInterval(progress_the_bar,1000)

}

</script>
