<div class="row">
    {{!-- free column --}}
    <div class="col-md-">
          
    </div>
    {{!-- free column --}}
    <div class="col-lg"> 
    <h1 class="mt-4 text-center">QUIZ</h1>
    {{!-- quiz box --}}
    <div class="jumbotron mt-4 text-center">
    {{!-- <h1 class="display-4">Hello, world!</h1> --}}
    <p class="lead">question comes here ?</p>
    <hr class="my-4">
    {{!-- list of answers --}}
    <ul class="list-group">
        <li class="list-group-item active">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    {{!-- list of answers --}}
    <a class="btn btn-primary btn-lg mt-4" href="#" role="button">Learn more</a>
    </div>
    {{!-- quiz box --}}
    </div>
    {{!-- free column --}}
    <div class="col-md-">
         
    </div>
    {{!-- free column --}}
</div>

<script>
    // set the title
    document.getElementById('title').innerText = "{{title}}"
    
    // set the active link dynamically
    var nav_selected = document.getElementById('{{ nav_selected }}')
    nav_selected.className += ' active'

</script>