<div class="row">
    {{!-- free column --}}
    <div class="col-md-">
          
    </div>
    {{!-- free column --}}
    <div class="col-lg"> 
    <h1 id="heading" class="mt-4 text-center"></h1>
    {{!-- quiz box --}}
    <div class="jumbotron mt-4 text-center">
    {{!-- <h1 class="display-4">Hello, world!</h1> --}}
    <p class="lead display-4">question comes here ?</p>
    <hr class="my-4">
    {{!-- list of answers --}}
    <ul class="list-group" id="answers_list">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
    </ul>
    {{!-- list of answers --}}
    <button class="btn btn-primary btn-lg mt-4" href="#" role="button">Previous</button>
    <button class="btn btn-primary btn-lg mt-4" href="#" role="button">Next</button>
    </div>
    {{!-- quiz box --}}
    </div>
    {{!-- free column --}}
    <div class="col-md-">
         
    </div>
    {{!-- free column --}}
</div>

<script>
    // set the title
    document.getElementById('title').innerText = "{{title}}"
    
    // set the active link dynamically
    var nav_selected = document.getElementById('{{ nav_selected }}')
    nav_selected.className += ' active'

    // get the name of the quiz
    var heading = document.getElementById('heading').innerHTML = "{{heading}}" || "QUIZ"

    // get the questions and answers
    var questions = [{{{json questions }}}]
    // questions = JSON.parse(questions)
    console.log(questions)

    // this returns an array of each li
    var listItems = document.querySelectorAll("ul li");
    // old selected_option
    var old_selected_option = null;
    listItems.forEach(function(item) {
    item.onclick = function(e) {

        // non-highlighting the old selected option
        if (old_selected_option != null) {
            old_selected_option.className = 'list-group-item'
            old_selected_option.removeAttribute("style");
        }

        // this returns clicked li's value
        var selected_option = this.innerText
        console.log("selected option : "+selected_option);

        // saving the old selected option
        old_selected_option = this
        // highlighting the current selected option
        this.className = this.className + ' active'
        this.style.color = "black"
    }
    });

</script>

<style>
.list-group .list-group-item:hover {
    background-color:antiquewhite;
}
</style>