<h1>file uploading test</h1>

<input type="file" id='inpFile' />
<button type="button" onclick="upload()">upload</button>


<script>
    const myForm = document.getElementById('myForm')
    const inpFile = document.getElementById('inpFile')

    function upload() {

        const endpoint = '/fileupload'
        const formData = new FormData()

        if (inpFile.files[0]) {
            formData.append('inpFile',inpFile.files[0],"asdasdasdasd")
            
            fetch(endpoint,{
                method:"post",
                body:formData
            }).then((data) => {
                console.log(data)
            })
        }
        else console.log("file is missing")


    }

</script>